

/* Main */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#clear_day_button {
	font-size: 10px;
	padding: 0 1rem;
}

#courses_selector_container {
	position: relative;
}

@media only screen and (max-width: 370px) {
    #logo-container {
		font-size: 20px;
	}
}

#settings-card {
	min-height: 305px;
}

#settings-card > .row {
	margin-bottom: 0px;
}

/* Date Picker */

#datepicker {
    padding: 0 0.5rem 0 0;
}

.picker__weekday-display {
	background-color: #e53935;
}
.picker__date-display {
	background-color: #ef5350;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #e53935;
}

.picker__day.picker__day--today, .picker__close, .picker__today {
	color: #e53935;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #e53935;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #e53935;
	box-shadow: 0 1px 0 0 #e53935;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #e53935;
	box-shadow: 0 1px 0 0 #e53935;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #e53935;
	box-shadow: 0 1px 0 0 #e53935;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #e53935;
}

#course_name:focus, #course_number:focus, #uploaded_file {
 	border-bottom: 1px solid #e53935;
 	box-shadow: 0 1px 0 0 #e53935;
}

#course_name:focus + label, #course_number:focus + label {
 	color: #e53935;
}

/* Tables */
th:first-child {
	padding-left: 10px;
}

td:first-child {
	padding-left: 10px;
}

/* Modal */
.modal {
    width: 300px;
}

/* Selector */
.select-wrapper input.select-dropdown  {
	height:38px;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #d32f2f;
}

/* Slider */
.noUi-connect {
    background: #ee6e73
}
.noUi-horizontal .noUi-handle {
    background-color: #D32F2F
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #D32F2F;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #D32F2F;
}
